<a href="https://colab.research.google.com/github/gabriellfelipe7/Udemy_PythonAZ/blob/main/Udemy_PythonAZ_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PARTE 1: CLASSIFICAÇÃO**

APRENDIZADO DE MÁQUINA
- Métodos Preditivos (SUPERVISIONADA): Classificação; Regressão;
- Métodos Descritivos (NÃO SUPERVISIONADA): Associação; Agrupamento; Detecção de Desvios; Padrôes Sequenciais; Sumarização.
- (APRENDIZAGEM POR REFORÇO)

## 1. Pre Processamento

In [ ]:
!pip -q install plotly --upgrade

WARNING: Ignoring invalid distribution -lotly (/usr/local/lib/python3.8/dist-packages)
WARNING: Ignoring invalid distribution -lotly (/usr/local/lib/python3.8/dist-packages)
WARNING: Ignoring invalid distribution -lotly (/usr/local/lib/python3.8/dist-packages)

In [ ]:
!pip -q install yellowbrick

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
base_credit = pd.read_csv('credit_risk_dataset.csv')

## Visualização

In [ ]:
base_credit

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30